{% extends "@DOMJudge/team/base.html.twig" %}
{% import _self as self %}

{% block content %}

    <table id="trainings" class="scoreboard-team center ">

        <thead>

        <tr class="scoreheader-team">

            <th title="circle / problem" scope="col"></th>
            <th title="circle / problem" scope="col" style="min-width: 250px">contest name</th>
            <th title="circle / problem" scope="col">status</th>
            <th title="submit name" scope="col">activate time</th>
            <th title="submit name" scope="col">start time</th>
            <th title="submit name" scope="col">end time</th>
            <th title="submit name" scope="col">deactivate time</th>

        </thead>
        <tbody>

        {% set id = 0 %}
        {% for training in contests %}
            {% set id = id + 1 %}
            <tr>
                <td>
                    {{ id }}
                </td>
                <td>
                    <a class="training_link" id="training_link-{{ training.cid }}" onclick="changeTraining({{ training.cid }})"
                       {#href="{{ path('team_change_contest', {'contestId': training.cid}) }}"#}
                       style="color: #a93795">{{ training.name }}</a>
                </td>
                <td>
                    {% if training.activatetime < date().timestamp and training.starttime > date().timestamp %}
                        Coming soon
                    {% elseif training.starttime < date().timestamp and training.endtime > date().timestamp %}
                        Running
                    {% elseif training.endtime < date().timestamp %}
                        Finished
                    {% endif %}
                </td>
                <td>
                    {{ training.activatetimeString | slice(11, 5) }}
                    {{ training.activatetimeString | slice(8, 2) }}.{{ training.activatetimeString | slice(5, 2)}}.{{ training.activatetimeString | slice(0, 4) }}
                </td>
                <td>
                    {{ training.starttimeString | slice(11, 5) }}
                    {{ training.starttimeString | slice(8, 2) }}.{{ training.starttimeString | slice(5, 2)}}.{{ training.starttimeString | slice(0, 4) }}
                </td>
                <td>
                    {{ training.endtimeString | slice(11, 5) }}
                    {{ training.endtimeString | slice(8, 2) }}.{{ training.endtimeString | slice(5, 2)}}.{{ training.endtimeString | slice(0, 4) }}
                </td>
                <td>
                    {{ training.deactivatetimeString | slice(11, 5) }}
                    {{ training.deactivatetimeString | slice(8, 2) }}.{{ training.deactivatetimeString | slice(5, 2)}}.{{ training.deactivatetimeString | slice(0, 4) }}
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script>

        function changeTraining(cid) {
            var postPath = "{{ path('team_change_contest', {'contestId': 0, 'tutorialView': 8}) }} ";

            postPath = postPath.replace('0', cid);

            var trainingLink = document.getElementById("training_link-"+ cid);

            console.log("trainingLink = " + trainingLink.innerText);
            var refreshPostUrl;

            if ( document.getElementById("enjoyhint_label") != null ) {
                console.log("enjoyhint_label is not null");
                refreshPostUrl = postPath.replace('8', 1);
            } else {
                refreshPostUrl = postPath.replace('8', 0);
            }

            console.log("POST URL = " + refreshPostUrl);

            trainingLink.setAttribute('href', refreshPostUrl );

        }
    </script>

{% endblock %}


