{% extends "@DOMJudge/team/base.html.twig" %}
{% import _self as self %}

{#{% block title %}Edit source of s{{ submission.submitid }} - {{ parent() }}{% endblock %}#}

{% block extrahead %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('js/ace/ace.js') }}" charset="utf-8"></script>
{% endblock %}

{% block content %}

<h1>
    {{ data.problem.name }}
</h1>

<div class="row" style="height: 100%">

    <div class="col" style="height: 100%">

        <h3 class="teamoverview">Problem text</h3>
        <embed src="/team/problems/{{ data.problem.probid }}/text" class="col" style="height: 100%"
               type="application/pdf">

    </div>

    <div class="col">
        {{ form_start(form) }}

        <h3 class="teamoverview">Problem solution</h3>

        <ul class="nav nav-tabs source-tab-nav">

            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" role="tab">
                    Code:
                </a>
            </li>

        </ul>

        <div class="tab-content source-tab">

            <div class="tab-pane fade show active" id="source_code" role="tabpanel">
                {{ file.sourcecode | codeEditor(1, 'java', true, 'form_source') }}

                <script>
                    $(function () {
                        $('#form_source').closest('.form-group').hide();
                    });
                </script>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-4">
                {{ form_widget(form) }}
            </div>
        </div>
    </div>

    {{ form_end(form) }}

    {% endblock %}
