<h3>Привет, {{ name }}!</h3>

<div>
    Рады сообщить, что появился новый тренинг <a href="{{ url('team_contest', {'contestId': cid }) }}">"{{ contestname }}"</a>.
    <br>
    {% if start is not null %}
        <br>
        Начало тренинга: {{ start }} г.
    {% endif %}
    <br>
    {% if end is not null %}
        Окончание тренинга: {{ end }} г.
        <br>
    {% endif %}
    <br>
    Incode ждёт тебя!

</div>

<br>
С уважением,
<br>
администратор Incode.
<br>
<h2><span style="color: #2b2867; "><</span><span style="color: #a93795; ">in</span><span style="color: #2b2867; ">.code</span><span style="color: #2b2867; ">></span></h2>
